@import "src/styles/baseSettings";

$headerBackground: $colorPrimary !default;
$headerColor: $colorLight !default;
$headerColorHover: $colorLightHover !default;
$headerBgImg: url("../images/monstera.png") !default;
$headerBgImgBottomPos: 0 !default;
$headerMarginBottom: unset !default;
