@import '../baseSettings';

/* =================================
   #HIDE

   Utility class to hide content in various
   cases (depending on device type and size)
   ================================= */

/**
 * Hide content visually, yet provide it to screen readers
 */
.u-hide-visually {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap; /* added line */
}

/**
 * Hide content on specific breakpoints.
 * The below loop will generate us a suite of classes e.g.:
 *
 *   .u-hide {}
 *   .u-hide--sm-max {}
 *   .u-hide--lg-min {}
 */

$media-directions: (
	'min': '-min',
	'max': '-max',
) !default;

$media-sizes: (
	'xs': '--xs',
	'sm': '--sm',
	'md': '--md',
	'lg': '--lg',
	'xl': '--xl',
) !default;

/**
 * Hide content on specific breakpoints
 */
.u-hide {
	display: none !important;
}

// TODO: finish hide util, so it generates classes per media direction and size

@each $size-namespace, $size in $media-sizes {
	@each $direction-namespace, $direction-rules in $media-directions {
		.u-hide#{$size-namespace}#{$direction-namespace} {
			@each $direction in $direction-rules {
				@include mq(#{$size}, #{$direction}) {
					display: none !important;
				}
			}
		}
	}
}

.u-hide-sm-max {
	@include mq('sm', 'max') {
		display: none !important;
	}
}
.u-hide-sm-min {
	@include mq('sm', 'max') {
		display: none !important;
	}
}
