@import "../baseSettings";

html {
  font-family: $fontFamily;
  font-size: $fontSizeRemBase;
  line-height: $lineHeightLg;
  color: $colorDark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include mq("sm") {
    font-size: $fontSizeRemBaseDesktop;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
