/* =================================
   themedSettings.scss

   THEME SETTING OVERRIDES
   ================================= */

@import "./baseSettings";

/**
 * #1 - THEMED SETTINGS
 */
$colorPrimary: #adc48c;

/**
 * #1.1 THEMED COMPONENT SETTINGS
 */
$headerColor: $colorDark;
$headerColorHover: $colorDark80;
$headerBgImg: url("../images/monstera.png");
$headerBgImgBottomPos: 0;
$headerMarginBottom: unset;
