@import "src/styles/themeSettings";

.m-site-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.m-site-nav__link {
  margin-left: $spacingBase;
  transition: color $easeBase $transTimeBase;

  &:hover {
    color: $colorDarkHover;
  }
}
