@import "src/styles/baseSettings";
@import "src/styles/01-settings/organisms/header";

.m-site-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.m-site-nav__link {
  margin-left: $spacingBase;

  color: $headerColor;
  transition: color $easeBase $transTimeBase;

  &:hover {
    color: $headerColorHover;
  }
}
