@import "../../baseSettings";

$headerBackground: $colorPrimary !default;
$headerColor: $colorLight !default;
$headerColorHover: $colorDark50 !default;
$headerBgImg: url("https://source.unsplash.com/400x300/?nature,water") !default;
$headerBgImgBottomPos: -150px !default;
$headerMarginBottom: 150px !default;
