@import "../../baseSettings";

$headerBackground: $colorPrimary !default;
$headerColor: $colorLight !default;
$headerColorHover: $colorDark50 !default;
$headerBgImg: url("../images/chair.png") !default;
$headerBgImgBottomPos: -150px !default;
$headerMarginBottom: 150px !default;
