// Brand colors
$colorPrimary: #8b9e70;

// Utility colors
$colorLight: #ffffff;
$colorDark: #282828;
$colorGrey100: #3d3d3d;
$colorGrey200: #888888;
$colorGrey300: #d0d4d7;

$colorLightHover: darken($colorLight, 20%);
$colorDarkHover: lighten($colorDark, 20%);
$colorGrey100Hover: darken($colorGrey100, 8%);

$colorPositive: #7ede28;
$colorNegative: #ff421e;
