// Brand colors
$colorPrimary: #8b9e70 !default;

// Utility colors
$colorLight: #ffffff !default;
$colorDark: #282828 !default;
$colorGrey100: #3d3d3d !default;
$colorGrey200: #888888 !default;
$colorGrey300: #d0d4d7 !default;

$colorLightHover: darken($colorLight, 20%) !default;
$colorDarkHover: lighten($colorDark, 20%) !default;
$colorGrey100Hover: darken($colorGrey100, 8%) !default;

$colorPositive: #7ede28 !default;
$colorNegative: #ff421e !default;
