// Brand colors
$colorPrimary: #004874 !default;
$colorSecondary: #D73F12 !default;
$colorAccent: #FF7B26 !default;

// Utility colors
$colorSpot: #FFE920 !default;
$colorLight: #ffffff !default;
$colorDark: #000000 !default;
$colorDark80: #333333 !default;
$colorDark50: #808080 !default;

// Signal colors
$colorSuccess: #31C050 !default;
$colorSuccessSubdued: #31C050 !default;
$colorError: #E53E3E !default;
$colorErrorSubdued: #E53E3E !default;
$colorWarning: $colorSpot !default;
$colorInfo: #004874 !default;