@import "./spacing";

// Border & border radius size
$borderSize: 1px !default;
$borderSizeLg: 2px !default;

$borderRadiusSm: 4px !default;
$borderRadius: 8px !default;
$borderRadiusLg: 16px !default;

// Content width
$contentWidthNarrow: 720px !default;
$contentWidth: 1200px !default;
$contentWidthWide: 1440px !default;
