// Global spacing units
$spacingBase: 20px !default;

$spacingXs: $spacingBase / 4 !default;
$spacingSm: $spacingBase / 2 !default;
$spacingLg: $spacingBase * 2 !default;
$spacingXl: $spacingBase * 5 !default;

// Content top spacing
$spacingContentTop: $spacingLg !default;
