// Global spacing units
$spacingBase: 16px !default;

$spacingXs: $spacingBase / 4 !default; //4
$spacingSm: $spacingBase / 2 !default; //8
$spacingLg: $spacingBase * 1.5 !default; //24
$spacingXl: $spacingBase * 3 !default; //48

// Content top spacing
$contentTopSpacer: $spacingLg !default;