// Font families
$fontFamilySansSerif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
	'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

// Font weights
$fontWeightRegular: 400;
$fontWeightSemiBold: 500;
$fontWeightBold: 700;

// Font sizes
$fontSizeRemBase: 14px;
$fontSizeRemBaseDesktop: 16px;

$fontSizeH1: 1.75rem;
$fontSizeH2: 1.325rem;
$fontSizeH3: 1rem;

$fontSizeLg: 1.25rem;
$fontSizeBase: 1rem;
$fontSizeSm: 0.875rem;
$fontSizeXs: 0.75rem;

// Line heights
$lineHeightLg: 1.5;
$lineHeightBase: 1.2;
