// Font families
$fontFamilySansSerif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif !default;

// Font weights
$fontWeightRegular: 400 !default;
$fontWeightSemiBold: 500 !default;
$fontWeightBold: 700 !default;

// Font sizes
$fontSizeRemBase: 14px !default;
$fontSizeRemBaseDesktop: 16px !default;

$fontSizeH1Desktop: 4.5rem !default;
$fontSizeH1: 3rem !default;
$fontSizeH2: 1.325rem !default;
$fontSizeH3: 1rem !default;

$fontSizeLg: 1.25rem !default;
$fontSizeBase: 1rem !default;
$fontSizeSm: 0.875rem !default;
$fontSizeXs: 0.75rem !default;

// Line heights
$lineHeightLg: 1.5 !default;
$lineHeightBase: 1.2 !default;
