@import '../01-settings/breakpoints';

// Media query mixins
// Min-width is default. For max-width, pass 'max' as second param.

/* Example use:

1. With min-width
  .foo {
      padding: 20px;

      @include mq('sm') {
          padding-top: 40px;
      }
  }

2. With max-width
  .foo {
      padding: 20px;

      @include mq('md', 'max') {
          padding-top: 10px;
      }
  }
*/
@mixin mq($width, $type: 'min') {
	@if map_has_key($breakpoints, $width) {
		$width: map_get($breakpoints, $width);
		@if $type == 'max' {
			$width: $width - 1px;
		}
		@media only screen and (#{$type}-width: $width) {
			@content;
		}
	}
}

@mixin mqHeight($height, $type: 'min') {
	@if map_has_key($breakpoints, $height) {
		$height: map_get($breakpoints, $height);
		@if $type == 'max' {
			$height: $height - 1px;
		}
		@media only screen and (#{$type}-height: $height) {
			@content;
		}
	}
}

// Touch screen
// The primary input mechanism of the device includes a pointing device of limited accuracy.

/* Example use:

.foo {
	@include mqTouch {
		padding: 20px;
	}
}
*/
@mixin mqTouch {
	@media (pointer: coarse) {
		@content;
	}
}

// Hover device screen
// The primary input mechanism system of the device can hover over elements with ease.

/* Example use:

.foo {
	@include mqHover {
		padding: 20px;
	}
}
*/
@mixin mqHover {
	@media (hover: hover) {
		@content;
	}
}

// Print screen

/* Example use:

.foo {
	@include mqPrint {
		display: none;
	}
}
*/
@mixin mqPrint {
	@media print {
		@content;
	}
}
