@import "../01-settings/grid";

/* =================================
   #GRID

   Utility classes to create a grid layout

   Inspired by tailwindcss -
   https://tailwindcss.com/docs/grid-template-columns
   ================================= */

/**
 * An example of how one would create a 3 column layout:
 *
 *	<div class="u-grid u-grid-cols--3 u-grid-gap--lg">
 *	  <div>1</div>
 *	  <!-- ... -->
 *	  <div>9</div>
 *	</div>
 */

// TODO: add optional responsive support
// E.g. .u-grid--sm, .u-grid--lg-max
// E.g. .u-grid-cols-sm--3, .u-grid-cols-lg-max--3

.u-grid {
  display: grid;
  grid-gap: $gridGap;
}

/**
 * Utility classes to use custom gap in the grid (which is different than the default). The below loop
 * will generate us a suite of classes like:
 *
 *   .u-grid-gap--none {}
 *   .u-grid-gap--lg {}
 *   .u-grid-gap-x--sm {}
 *   .u-grid-gap-y--xl {}
 */

$gap-sizes: (
  "--xs": $spacingXs,
  "--sm": $spacingSm,
  "--md": $spacingBase,
  "--lg": $spacingLg,
  "--xl": $spacingXl,
  "--none": 0
) !default;

@each $size-namespace, $size in $gap-sizes {
  .u-grid-gap#{$size-namespace} {
    gap: $size !important;
  }

  .u-grid-gap-x#{$size-namespace} {
    column-gap: $size !important;
  }

  .u-grid-gap-y#{$size-namespace} {
    column-gap: $size !important;
  }
}

/**
 * Utility classes to create number of columns in a grid. The below loop
 * will generate us a suite of classes like:
 *
 *   .u-grid-cols--3 {}
 *   .u-grid-cols--8 {}
 */

@for $i from 1 through $gridCols {
  .u-grid-cols--#{$i} {
    grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
  }
}

/**
 * Utility classes to create custom span (width) for a specific column. The below loop
 * will generate us a suite of classes like:
 *
 *   .u-grid-col-span--3 {}
 *
 * Example use:
 *	<div class="u-grid u-grid-cols--3">
 *	  <div class="...">1</div>
 *	  <div class="...">2</div>
 *	  <div class="...">3</div>
 *	  <div class="u-grid-col-span--2 ...">4</div>
 *	  <div class="...">5</div>
 *	  <div class="...">6</div>
 *	  <div class="u-grid-col-span--2 ...">7</div>
 *	</div>
 */

@for $i from 1 through $gridCols {
  .u-grid-col-span--#{$i} {
    grid-column: span #{$i} / span #{$i};
  }
}

$media-query-types: (
  null: null,
  ":max": $spacingXs,
  "--sm": $spacingSm,
  "--lg": $spacingLg,
  "--xl": $spacingXl,
  "--none": 0
) !default;
