@import "../02-tools/media";

/* =================================
   #HIDE

   Utility class to hide content in various
   cases (depending on device type and size)
   ================================= */

/**
 * Hide content visually, yet provide it to screen readers
 */
.u-hide-visually {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

/**
 * Hide content on specific breakpoints
 */
.u-hide-sm-max {
  @include mq("sm", "max") {
    display: none !important;
  }
}

// TODO: implement dynamic hide, display classes
