@import '../02-tools/media';

.u-hide-visually {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap; /* added line */
}

// TODO: implement dynamic hide, display classes

.u-hide-sm-max {
	@include mq('sm', 'max') {
		display: none !important;
	}
}
